.container{
    max-width: 360px;
    margin: 0 auto;
}

.container::after{
    content: " ";
    display: table;
    clear: both;
}

[class *= col-] > [class *= col-]{
    height: 15px;
}

.red{
    background-color: red;
}

.black{
    background-color: black;
}

.grey{
    background-color: #969696;
}

.dgrey{
    background-color: #505050;
}

.brown{
    background-color: #894310;
}
