body{
    background-color: darkblue;
}

.container{
    max-width: 480px;
    margin: 0 auto;
    background-image: radial-gradient(lightblue, blue , darkblue 65%);}

.container::after{
    content: " ";
    display: table;
    clear: both;
}

[class *= col-] > [class *= col-]{
    height: 20px;
}

[class *= col-]:last-child{
    border-right: none;
}
[class *= col-]:first-child{
    border-left: none;
}

.red{
    background-color: red;
    border: 1px solid black;
}

.black{
    background-color: black;
}

.grey{
    background-color: #969696;
    border: 1px solid black;
}

.dgrey{
    background-color: #505050;
    border: 1px solid black;
}

.brown{
    background-color: #894310;
    border: 1px solid black;
}

.white{
    background-color: white;
    border: 1px solid black;
}
